@page "/history"
@using MSN.Components
@using System.IO
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="col h2">Calendar:</div>
<CalendarComponent></CalendarComponent>


@code {

    [Inject]
    protected NavigationManager NavigationManager { get; set; }
    [Inject]
    public MSN.Model.Util.ServerFileInfo ServerFileInfo { get; set; }
    [Inject]
    private MSN.BlazorServer.Data.MSNBlazorServerContext SecurityContext { get; set; }
    [Inject]
    private MSN.ModelContext.MSNContext DefaultContext { get; set; }
    protected override void OnInitialized()
    {
        if (!ServerFileInfo.PerformDatabaseCheck(SecurityContext, DefaultContext) &&
        !NavigationManager.Uri.EndsWith("/install")
        )
            NavigationManager.NavigateTo("/install", true);
    }
}
