@page "/loginsm"
@using MSN.Components
<div class="h2">Log In</div>
<div style="height: 100vh;" class="mb-3 mt-3 pb-3 pt-3 ml-0 pl-0 mr-0 pr-0">
    <LogInOutComponent DisplayLoginFormOnStartup=true></LogInOutComponent>
</div>