@page "/Sandbox"

<div style="height: 400px; width: 100vw;">
    <object class="card-img" style="" data="/segmi/0vydgxcp.jpg?timestamp=494" type="image/png" alt="">
    <img class="card-img" src="/Default/large.jpg" alt="">
    </object>
</div>